# Dependências
node_modules/
.pnp
.pnp.js

# Build do Next.js
.next/
out/
build/

# Variáveis de ambiente (nunca subir para o GitHub)
.env
.env.local
.env.development.local.local
.env.production.local

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*


# Testes
playwright-report/
test-results/
.vitest-cache/